@import "../../global.scss";
.services {
  position: relative;
  .book-service-text {
    font-family: "Cardo, serif";
    font-size: 1.4rem;
    color: $scorpion;
    position: absolute;
    top: 12rem;
    margin-right: 3rem;
    margin-left: 3rem;
    text-align: center;
  }
  .container-small {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    .service-small {
      width: 30vw;
      height: 30vw;
      border-radius: 50%;
      border: 2px solid $mongoose;
      position: relative;
      .service-small-name {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.4rem;
      }
    }
    .service-small:hover {
      background-color: $scorpion;
      border: 4px solid $mongoose;
      .service-small-name {
        color: $black-squeeze;
        overflow: hidden;
        font-size: 1.2rem;
      }
    }
  }
  .container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    .service {
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      border: 2px solid $mongoose;
      position: relative;
      .service-name {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.6rem;
      }
    }
    .service:hover {
      background-color: $scorpion;
      border: 4px solid $mongoose;
      .service-name {
        color: $black-squeeze;
      }
    }
  }
  &.active {
    background-color: $scorpion;
    .section-title {
      color: $mongoose;
    }
  }
}
