@import "../../global.scss";
.menu-open {
  height: 100vh;
  width: 30rem;
  z-index: 999;
  position: fixed;
  top: 8rem;
  right: -30rem;
  background-color: $black-squeeze;
  color: $mongoose;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 1s ease;
  .list-menu-open {
    line-height: 4rem;
  }
  .item-list-menu-open {
    a {
      color: inherit;
      text-decoration: none;
      font-size: 2.6rem;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
    }
    a:hover {
      color: $scorpion;
      font-style: italic;
    }
  }
  &.active {
    right: 0;
  }
}
