@import "../../global.scss";

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.phone-container {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: $mongoose;
  overflow: hidden;
  z-index: 9999;
  .phone-icon {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 1rem;
    font-size: 4rem;
    color: $black-squeeze;
  }
}
.phone-container:hover {
  background-color: $scorpion;
  cursor: pointer;
}
.phone-icon:hover {
  color: $mongoose;
}
