@import "../../global.scss";

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.topbar {
  background-color: $scorpion;
  overflow: hidden;
  height: 8rem;
  width: 100vw;
  color: $black-squeeze;
  position: fixed;
  z-index: 2;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  .wrapper {
    padding: 1rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .left {
      .logo {
        .logo-img {
          -o-object-fit: contain;
          object-fit: contain;
          height: 6rem;
          margin: auto;
          border-radius: 50%;
        }
      }
    }
    .center {
      .description {
        text-align: center;
        font-size: 1.6rem;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 400;
      }
    }
    .right {
      .menu {
        font-size: 4rem;
      }
      .menu:hover {
        cursor: pointer;
        color: $mongoose;
      }
    }
  }
  &.active {
    background-color: $black-squeeze;
    color: $mongoose;
    .menu {
      color: $mongoose;
    }
  }
}
