@import "../../global.scss";
.contact {
  background-color: $scorpion;
  color: $mongoose;
  .contact-title {
    font-size: 3rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: $mongoose;
  }
}
