@import "../../global.scss";

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.showcase {
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  .slider {
    height: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    left: 0;

    .container {
      width: 100vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: relative;
      .item {
        width: 80%;
        height: 100%;
        background-color: $scorpion;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        .left {
          -webkit-box-flex: 4;
          -ms-flex: 4;
          flex: 4;
          height: 80%;
          background-color: $scorpion;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          .leftContainer {
            width: 90%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: $mongoose;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              .left-icon {
                color: $black-squeeze;
                font-size: 4rem;
              }
            }
            h2 {
              font-size: 2rem;
              color: $mongoose;
              padding: 3rem 0;
            }
            p {
              font-size: 1.4rem;
              color: $black-squeeze;
            }
            span {
              margin-top: 3rem;
              padding: 1.6rem 3.2rem;
              border: 1px solid $black-squeeze;
              width: -webkit-fit-content;
              width: -moz-fit-content;
              width: fit-content;
            }
            span a {
              font-size: 14px;
              font-weight: 600;
              text-decoration: none;
              color: $black-squeeze;
              cursor: pointer;
            }
            span:hover {
              border: 2px solid $mongoose;
              background-color: $black-squeeze;
              a {
                color: $mongoose;
              }
            }
          }
        }
        .right {
          -webkit-box-flex: 8;
          -ms-flex: 8;
          flex: 8;
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          overflow: hidden;
          .right-image {
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
          }
        }
      }
      .small-item {
        width: 80%;
        height: 100%;
        background-color: $scorpion;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
      }
      .small-right-arrow,
      .small-left-arrow {
        font-size: 6rem;
        color: $mongoose;
        cursor: pointer;
        position: absolute;
      }
      .small-right-arrow {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: -1rem;
      }
      .small-left-arrow {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: -1rem;
      }
      .bottom {
        height: 80%;
        background-color: $scorpion;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 6;
        -ms-flex: 6;
        flex: 6;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        .bottomContainer {
          width: 80%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          .imgContainer {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $mongoose;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            .left-icon {
              color: $black-squeeze;
              font-size: 2rem;
            }
          }
          h2 {
            font-size: 2rem;
            color: $mongoose;
            padding: 1rem 0;
          }
          p {
            font-size: 1.4rem;
            color: $black-squeeze;
          }
          span {
            margin-top: 0.5rem;
            padding: 1.6rem 3.2rem;
            border: 1px solid $black-squeeze;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
          }
          span a {
            font-size: 12px;
            font-weight: 600;
            text-decoration: none;
            color: $black-squeeze;
            cursor: pointer;
          }
          span:hover {
            border: 2px solid $mongoose;
            background-color: $black-squeeze;
            a {
              color: $mongoose;
            }
          }
        }
      }
      .top {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        -webkit-box-flex: 6;
        -ms-flex: 6;
        flex: 6;
        .top-image {
          width: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
    }
  }
  .right-arrow,
  .left-arrow {
    font-size: 6rem;
    color: $mongoose;
    cursor: pointer;
    position: absolute;
  }
  .right-arrow {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 6rem;
  }
  .left-arrow {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 6rem;
  }
  &.active {
    background-color: $scorpion;
    .section-title {
      color: $mongoose;
    }
  }
}
