.app {
  height: 100vh;
  .sections {
    height: calc(100vh - 8rem);
    width: 100%;
    background-color: yellow;
    position: relative;
    top: 8rem;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    > * {
      width: 100vw;
      height: calc(100vh - 8rem);
      scroll-snap-align: start;
    }
  }
}
